<div class="page">
  <div class='header' style='text-align:center; font-size: 16px; padding-bottom: 5px;'>
    Ontology Diagram
  </div>

<!--  <div class="page__body">
    <div style="border: 1px solid #80808026; height:  800px">
          <ontodia 

            [[> "http://www.metaphacts.com/resource/assets/OntodiaGlobalSettings" ]] 
            diagram='http://localhost:10214/container/ontodiaDiagramContainer/vehicleconfig'
          >
            <ontodia-data-providers>
              [[> "http://www.metaphacts.com/resource/OntodiaUserDataProvider" ]]
            </ontodia-data-providers>

          </ontodia>
  </div>
  </div>
</div> -->

<semantic-link iri='http://ontologies.daimlertruck.com/ontology' urlqueryparam-diagram-iri="http://localhost:10215/container/ontodiaDiagramContainer/vehicle_configuration" ></semantic-link> 