
          <semantic-chart provider='highcharts' type='bar'
            query='
              PREFIX person: <http://example.com/person/>
              PREFIX org: <http://example.com/org/>
              PREFIX foaf: <http://xmlns.com/foaf/0.1/>
              SELECT ?one (COUNT(distinct ?someone) as ?renown) WHERE {
                VALUES (?someone ?predicate1 ?one)
                {
                  (person:alice foaf:knows person:bob)
                  (person:alice foaf:knows person:carol)
                  (person:carol foaf:knows person:bob)
                  (person:carol foaf:knows person:mike)
                  (person:mike foaf:knows person:carol)
                  (person:mike foaf:knows person:alice)
                  (person:bob foaf:knows person:carol)
                  (person:bob foaf:knows person:mike)
                }
              }
              GROUP BY ?one
              ORDER BY ?one
            '
            sets='[{"dataSetName": "Renown", "category": "one", "value": "renown"}]'
            styles='[{
    "provider": "highcharts",
    "style": {"chart": {"type": "bar"}}
  }]'
          ></semantic-chart>


          
<semantic-chart provider='highcharts' type='bar'
  query='
    PREFIX person: <http://example.com/person/>
    PREFIX org: <http://example.com/org/>
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    SELECT ?one (COUNT(distinct ?someone) as ?renown) WHERE {
      VALUES (?someone ?predicate1 ?one)
      {
        (person:alice foaf:knows person:bob)
        (person:alice foaf:knows person:carol)
        (person:carol foaf:knows person:bob)
        (person:carol foaf:knows person:mike)
        (person:mike foaf:knows person:carol)
        (person:mike foaf:knows person:alice)
        (person:bob foaf:knows person:carol)
        (person:bob foaf:knows person:mike)
      }
    }
    GROUP BY ?one
    ORDER BY ?one
  '
  sets='[{"dataSetName": "Renown", "category": "one", "value": "renown"}]'
  styles='[{
    "provider": "highcharts",
    "style": {"chart": {"type": "bar"}}
  }]'>
</semantic-chart>
